:root {
  --black: #000;
  --light-black: #181818;
  --white: #FFFFFF;
  --border-btn: 14px;
  --white-text: #C0C0C0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

a, button {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 133%;
  background: var(--black);
  color: var(--white);
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

header {
  background-color: var(--light-black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 20px 20px 20px 32px;
}

#burger {
  position: relative;
  z-index: 10;
  @media (min-width: 1024px) {
    display: none;
  }
  display: none;
}

.burger-icon {
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--white);
  }
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}

.burger-icon .line {
  @media (min-width: 1024px) {
    display: none;
  }
}

#burger:checked ~ .burger-icon .line {
  background: var(--black);
  z-index: 10;
  &.line1 {
    transform: rotate(45deg);
  }
  &.line2 {
    transform: scaleY(0);
  }
  &.line3 {
    transform: rotate(-45deg);
  }
}


#burger:checked ~ .header-links {
  width: 100%;
  inset: 0;
  flex-direction: column;
}

.header-links {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 15px;
  position: absolute;
  padding-top: 20px;
  width: 0;
  right: 0;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
  p {
    margin-right: 24px;
    font-size: 13px;
  }
  @media (min-width: 1024px) {
    color: var(--white-text);
    background: none;
    padding-top: 0;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
  }
}

.btn {
  font-size: 16px;
  padding: 11px 20px 13px;
  background: var(--white);
  letter-spacing: 0.4px;
  color: var(--black);
  border-radius: var(--border-btn);
  min-width: 155px;
}

main {
  margin-top: 90px;
}

.sec-1 {
  position: relative;
  background: url("./img/backgroung-sec-1.png") lightgray 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  min-height: 716px;
  margin-bottom: 120px;
  .sec-1-p{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.content-sec-1 {
  text-align: center;
  max-width: 600px;
  position: absolute;
  bottom: 71px;
  left: 50%;
  transform: translate(-50%);
  p {
    color: var(--white-text);
    line-height: 20px;
  }
  h1{
    color: var(--white);
    font-size: 54px;
    line-height: 59.4px;
    margin-top: 1px;
    margin-bottom: 18px;
  }
}

.content-right {
  position: absolute;
  bottom: 41px;
  right: 40px;
  max-height: 16px;
  font-size: 12px;
  line-height: 12px;
}

.flex {
  display: flex;
  gap: 16px;
}

.flex-1 {
  display: flex;
  justify-content: center;
  span{
    margin-left: 6px;
  }
}

.sec-2 {
  text-align: center;
  h2{
    font-size: 40px;
    line-height: 42px;
    color: var(--white);
    margin-bottom: 15px;
  }
  p{
    font-size: 23px;
    line-height: 30px;
    color: var(--white-text);
    margin-bottom: 40px;
  }
  .flex-sec-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;
   }
}



.card{
  position: relative;
  display: flex;
  height: 600px;
  max-width: calc(50% - 8px);
  width: 100%;
  padding: 30px;
  text-align: left;
  &:hover {
    border-radius: 10%;
  }
}

.card-1{
  background: url("./img/img-sec-2.png") center center / cover no-repeat ;
}

.card-2 {
  background: url("./img/img-sec-2(2).png") center center / cover no-repeat ;
}

.card-3 {
  background: url("./img/img-sec-2(3).png") center center / cover no-repeat ;
}

.card-4 {
  background: url("./img/img-sec-2(4).png") center center / cover no-repeat ;
}

.content-sec-2 {
  align-self: flex-end;
  h3{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: var(--white);
  text-transform: uppercase;
}
  p{
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 26px;
   color: var(--white-text);
 }
}


.btn-sec-2 {
  color: var(--black);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  border-radius: 14px;
  background: var(--white);
  padding: 9px 10px 13px 42px;
  position: relative;
  &:hover::before {
    position: absolute;
    left: 4px;
    bottom: 5px;
    background: #42505e;
    border-radius: 50%;
  }
}

.circled {
  padding: 11px 10px 13px 42px;
  text-align: center;
  &:before{
    content: '';
    position: absolute;
    left: 4px;
    top: 5px;
    background: url("./img/Frame.svg");
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 100%;
  }
}

.sec-3 {
  background: url("./img/background-sec-3.png") lightgray 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-top: 100px;
  h3{
    letter-spacing: 2px;
    color: var(--white);
    text-transform: uppercase;
  }
  p{
    color: var(--white-text);
  }
}

.content-sec-3 {
  position: absolute;
  top: 280px;
  right: 62px;
  max-width: 298px;
}

.sec-4 {
  background: var(--black);
  font-size: 14px;
  line-height: 20px;
  padding: 113px 0;
  position: relative;
  .img-abs {
    position: absolute;
    width: 48.5%;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 720px;
    @media (min-width: 1441px) {
      position: relative;
      width: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.container-1 {
  width: 50%;
  padding: 60px 60px 40px 0;
  h2 {
    font-size: 28px;
    line-height: 32px;
  }
  h3 {
    color: var(--white-text);
    margin-bottom: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    margin: 14px 46px 29px 0;
  }
}

.flex-sec-4 {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .flex-sec-4 {
    flex-direction: column;
  }

  .sec-4 .img-abs {
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: 100%;
    left: 0;
    filter: grayscale(50%) blur(2px);
  }
  .container-1 {
    z-index: 1;
    padding: 60px 60px 40px 60px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .container-1 {
    width: 100%;
  }
}


.sec-5 {
  background: url("./img/background-sec-5.png") lightgray 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  line-height: 20px;
  margin-bottom: 120px;
  p {
    max-width: 273px;
    color: var(--white-text);
  }
  h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.container-sec-5 {
  position: absolute;
  top: 260px;
  right: 87px;
}

.sec-6 {
  background: var(--black);
}

.container-sec-6 {
  padding: 0 16px;
}

.content-sec-6 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  h3 {
    color: var(--white);
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  p {
    color: var(--white-text);
    font-size: 24px;
    line-height: 30px;
  }
}

.flex-sec-6 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 109px;
  padding-bottom: 40px;
  &:first-child {
    padding-left: 46px;
  }
  &:last-child {
    padding-right: 46px;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 50px;
    padding-top: 20px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.sec-7 {
  margin-top: 100px;
  background: url("./img/background-sec-7.png") lightgray 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  margin-bottom: 113px;
}

.content-sec-7 {
  position: absolute;
  top: 250px;
  right: 106px;
  line-height: 20px;
  h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    color: var(--white-text);
    max-width: 241px;
  }
}

.sec-8 {
  text-align: center;
  margin-bottom: 108px;
  h3 {
    max-width: 571px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 42px;
  }
  p {
    margin-top: 15px;
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 30px;
    color: var(--white-text);
  }
}

.sec-9 {
  padding: 0 16px;
}

footer {
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 36px;
  border-bottom: 2px var(--white) solid;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 18px 129px 0;
  margin-right: 253px;
  p {
    color: var(--white-text);
    font-size: 13px;
    line-height: 20px;
  }
}

.footer-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 0 39px 60px 0;
  margin-right: 16px;
  line-height: 20px;
  h3{
    color: var(--white-text);
    letter-spacing: 2px;
    text-transform: uppercase
  }
}

.footer-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  line-height: 20px;
  padding-right: 102px;
  h3{
    color: var(--white-text);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  a {
    font-size: 13px;
  }
}

.footer-flex-2 {
  padding-bottom: 36px;
  margin-top: 36px;
  border-bottom: 2px var(--white) solid;
  display: flex;
  justify-content: space-between;
  input {
    width: 458px;
    height: 52px;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 20px;
  text-align: left;
  h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    color: var(--white-text);
    font-size: 13px;
  }
}

.relative-input {
  position: relative;
  input{
    border-radius: 12px;
    border: 1px solid var(--white-text);
  }
  button {
    position: absolute;
    right: 6px;
    top: 11px;
    width: 63px;
    height: 30px;
    border-radius: 11px;
    background: var(--black);
  }
}
a:hover {
  color: #42505e;
}

.flex-last {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.contact {
  display: flex;
  gap: 20px;
  svg:hover {
    fill: #42505e;
  }
}





















