:root {
    --black: #000;
    --light-black: #181818;
    --white: #FFFFFF;
    --border-btn: 14px;
    --white-text: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

a, button {
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 133%;
    background: var(--black);
    color: var(--white);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

header {
    background-color: var(--light-black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 15px;
    color: var(--white);
}

.header-links p {
    gap: 24px;
    font-size: 13px;
}

.btn {
    font-size: 16px;
    padding: 11px 20px 13px;
    background: var(--white);
    letter-spacing: 0.4px;
    color: var(--black);
    border-radius: var(--border-btn);
    min-width: 155px;
}

.header-content svg {
    margin-left: 152px;
}

.header-content .btn {
    margin-right: 140px;
}

main {
    margin-top: 90px;
}

.sec-1 {
    position: relative;
    background: url("./img/backgroung-sec-1.png") lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    min-height: 716px;
    margin-bottom: 120px;
}

.content-sec-1 {
    text-align: center;
    max-width: 600px;
    position: absolute;
    bottom: 71px;
    left: 50%;
    transform: translate(-50%);
}

.sec-1-p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-sec-1 p {
    color: var(--white-text);
    line-height: 20px;
}

.content-sec-1 h1 {
    color: var(--white);
    font-size: 54px;
    line-height: 59.4px;
    margin-top: 1px;
    margin-bottom: 18px;
}

.content-right {
    position: absolute;
    bottom: 41px;
    right: 40px;
    max-height: 16px;
    font-size: 12px;
    line-height: 12px;
}

.flex {
    display: flex;
    gap: 16px;
}

.flex-1 {
    display: flex;
    justify-content: center;
}

.flex-1 span {
    margin-left: 6px;
}

.sec-2 h2 {
    font-size: 40px;
    line-height: 42px;
    color: var(--white);
    margin-bottom: 15px;
}

.sec-2 p {
    font-size: 23px;
    line-height: 30px;
    color: var(--white-text);
    margin-bottom: 40px;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.relative {
    position: relative;
    max-height: 600px;
}

.absolute {
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-align: left;
}

.absolute h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--white);
    text-transform: uppercase;
}

.absolute p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 26px;
    color: var(--white-text);
    max-width: 501px;
    max-height: 80px;
    margin-top: 10px;
}

.btn-sec-2 {
    color: var(--black);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    border-radius: 14px;
    background: var(--white);
    padding: 9px 10px 13px 42px;
    position: relative;
}

.circled {
    padding: 11px 10px 13px 42px;
    text-align: center;
}

.circled:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 5px;
    background: url("./img/Frame.svg");
    width: 32px;
    height: 32px;
}

.paragraph p {
    max-width: 514px;
}

.sec-3 {
    background: url("./img/background-sec-3.png") lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    margin-top: 100px;
}

.content-sec-3 {
    position: absolute;
    top: 280px;
    right: 62px;
    max-width: 298px;
}

.sec-3 h3 {
    letter-spacing: 2px;
    color: var(--white);
    text-transform: uppercase;
}

.sec-3 p {
    color: var(--white-text);
}

.sec-4 {
    background: var(--black);
    position: relative;
    font-size: 14px;
    line-height: 20px;
}

.container-1 {
    max-width: 600px;
    padding: 60px 46px 102px 40px;
    margin-left: 60px;
    margin-top: 113px;
}

.container-1 h2 {
    font-size: 28px;
    margin-bottom: 14px;
    line-height: 32px;
}

.container-1 h3 {
    color: var(--white-text);
    margin-bottom: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container-1 p {
    margin-bottom: 29px;
}

.flex-sec-4 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .flex-sec-4 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.sec-5 {
    background: url("./img/background-sec-5.png") lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: relative;
    line-height: 20px;
    margin-bottom: 120px;
}

.sec-5 p {
    max-width: 273px;
    color: var(--white-text);
}

.sec-5 h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container-sec-5 {
    position: absolute;
    top: 260px;
    right: 87px;
}

.sec-6 {
    background: var(--black);
}

.content-sec-6 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.content-sec-6 h3 {
    color: var(--white);
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 10px;
}

.content-sec-6 p {
    color: var(--white-text);
    font-size: 24px;
    line-height: 30px;
}

.flex-sec-6 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 109px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.flex-sec-6:first-child {
    padding-left: 46px;
}

.flex-sec-6:last-child {
    padding-right: 46px;
}

.sec-7 {
    margin-top: 100px;
    background: url("./img/background-sec-7.png") lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: relative;
    margin-bottom: 113px;
}

.content-sec-7 {
    position: absolute;
    top: 250px;
    right: 106px;
    line-height: 20px;
}

.content-sec-7 h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-sec-7 p {
    color: var(--white-text);
    max-width: 241px;
}

.sec-8 {
    text-align: center;
    margin-bottom: 108px;
}

.sec-8 h3 {
    max-width: 571px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 42px;
}

.sec-8 p {
    margin-top: 15px;
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 30px;
    color: var(--white-text);
}

footer {
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 36px;
    border-bottom: 2px var(--white) solid;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 18px 129px 0;
    margin-right: 253px;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    padding: 0 39px 60px 0;
    margin-right: 16px;
    line-height: 20px;
}

.footer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    line-height: 20px;
    padding-right: 102px;
}

.footer-1 p {
    color: var(--white-text);
    font-size: 13px;
    line-height: 20px;
}

.footer-2 h3 {
    color: var(--white-text);
    letter-spacing: 2px;
    text-transform: uppercase
}

.footer-3 h3 {
    color: var(--white-text);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-3 a {
    font-size: 13px;
}


.footer-flex-2 {
    padding-bottom: 36px;
    margin-top: 36px;
    border-bottom: 2px var(--white) solid;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 20px;
    text-align: left;
}

.footer-column h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-column p {
    color: var(--white-text);
    font-size: 13px;
}

.footer-flex-2 input {
    width: 458px;
    height: 52px;
}

.relative-input {
    position: relative;
}


.relative-input input {
    border-radius: 12px;
    border: 1px solid var(--white-text);
}

.relative-input button {
    position: absolute;
    right: 6px;
    top: 11px;
    width: 63px;
    height: 30px;
    border-radius: 11px;
    background: var(--black);
}

a:hover {
    color: #42505e;
}

.btn-sec-2:hover {
    font-size: 15px;
}

.btn-sec-2:hover::before {
    position: absolute;
    left: 4px;
    bottom: 5px;
    background: #42505e;
    border-radius: 50%;
}

.flex-last {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.contact {
    display: flex;
    gap: 20px;
}

.contact svg:hover {
    fill: #42505e;
}







